body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background: #011342;
    color: #333;
}

header {
    background:#060644;
    color: rgb(254, 254, 254);
    padding: 20px 0;
    text-align: center;
}

.logo {
    max-height: 80px;
}

.tagline {
    font-style: italic;
    font-size: 1.2em;
}

section {
    padding: 20px;
    margin: 10px;
    background: rgb(159, 159, 159);
    border-radius: 8px;
}

h2 {
    color: #000000;
}

footer {
    background: #060644;
    color: white;
    text-align: center;
    padding: 10px;
}